#Кодировка файлов по умолчанию
AddDefaultCharset UTF-8


#Настройки индексных файлов по умолчанию
Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php

#Включаем ведения лога ошибок и указываем путь по умолчанию
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_log D:\php_errors.log
#php_value error_log /home/d/denisul4/kino-poisk24.ru/public_html/log/php_errors.log
php_value error_reporting 2047
php_value log_errors_max_len 0

<Files php_errors.log>
    Order allow,deny
    Deny from all
    Satisfy All
</Files>


#Настройки перенаправлений по умолчанию
RewriteEngine On

#RewriteCond %{HTTP_HOST} ^www.kino-poisk24.ru$ [NC]
#RewriteRule ^(.*)$ http://xn--24-vlcaictiajy.xn--p1ai/$1 [R=301,L]

#RewriteCond %{HTTP_HOST} kino-poisk24.ru
#RewriteRule (.*) http://xn--24-vlcaictiajy.xn--p1ai/$1 [R=301,L]

#RewriteCond %{HTTP_HOST} ^www.xn--b1alb.xn--p1acf$ [NC]
#RewriteRule ^(.*)$ http://xn--24-vlcaictiajy.xn--p1ai/$1 [R=301,L]

#RewriteCond %{HTTP_HOST} xn--b1alb.xn--p1acf
#RewriteRule (.*) http://xn--24-vlcaictiajy.xn--p1ai/$1 [R=301,L]

#RewriteCond %{HTTP_HOST} ^www.xn--24-vlcaictiajy.xn--p1ai$ [NC]
#RewriteRule ^(.*)$ http://xn--24-vlcaictiajy.xn--p1ai/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) index.php?$1 [L,QSA]