@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,100&subset=cyrillic-ext,latin);
body {
	background: #f1f1f1;
	/*font-family: Open Sans;*/
}
h1 {
	text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}
p {
	color: #7e7e7e;
	line-height: 26px;
	text-align: left;
}
.button li {
	display: inline-block;
}
.button li a {
	display: block;
	padding: 5px 10px;
	margin: 4px 2px;
	font-size: 14px;
	text-decoration: none;
	/*text-transform: lowercase;*/
	background: #ffffff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.button li a:hover {
	color: #ffffff;
}
/* Header */
header {
	width: 100%;
	background: #e8e8e8;
    box-shadow: 0 4px 12px rgba(21,18,41,.2);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}
.header {
	width: calc(95% - 20px);
    margin: 0 auto;
    padding: 0 10px;
}

.nav-header {
	float: right;
    margin-top: 18px;
}
.nav-header > a {
    text-decoration: none;
    font-size: 2.0em;
    font-weight: bold;
    /*color: #ea2c5a;*/
}
.nav-header a:hover {
	color: #313131;
}

/* Поисковая форма */
.search {
    width: 849px;
	margin: 10px;
	display: inline-block;
	vertical-align: middle;
}
.logo {
    width: 132px;
    height: 52px;
	margin-top: -4px;
	display: inline-block;
	vertical-align: middle;
}
.logo a:hover {
    text-decoration: none;
}
.logo img {
	width: 132px;
}
input {
    font: inherit;
    font-size: 130%;
}
#searchForm{
    display: inline-block;
    margin-top: 0em;
}
.searchForm {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border: 1px #e5e5e5 solid;
    padding: 0;
    zoom: 1;
}
.send{
	margin:10px 0;
	color: #f27474;
}
.searchInput {
    background-color: #fff;
    margin: 9px 1px 0 9px;
    width: 557px;
	border: 0;
    border-right: 0;
    padding-right: 4px;
	outline: none;
}
::-webkit-input-placeholder {color: #e8e8e8;}
::-moz-placeholder          {color: #e8e8e8;}/* Firefox 19+ */
:-moz-placeholder           {color: #e8e8e8;}/* Firefox 18- */
:-ms-input-placeholder      {color: #e8e8e8;}

.searchSubmit {
    height: 45px;
    width: 45px;
    /*border: 8px solid #ea2c5a;*/
    overflow: hidden;
    vertical-align: top;
    margin: -1px;
    text-indent: -99em;
    position: static;
    right: 0;
    top: 0;
    cursor: pointer;
	/*background: #ea2c5a url(../images/hpc18.png) no-repeat;
	background-position: -169px -63px;*/
}
/* .Поисковая форма */


#menu {
	position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    height: 100%;
    padding: 20px;
    /*background: #ea2c5a;*/
    overflow-y: scroll;
	text-align: left;
}
#menu ul {
	margin-bottom: 40px;
}
#menu li {
    line-height: 3.0em;
    border-bottom: 1px solid #fff;
}
#menu a {
    color: #fff;
    text-decoration: none;
}
#menu a:hover {
    color: #e8e8e8;
}
#menu .close {
	font-size: 32px;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
}
#menu .close:hover {
    color: #e8e8e8;
}
/* .Header */



/* Main */
.main {
	width: calc(95% - 20px);
    min-height: 80%;
    min-height: 80vh;
    margin: 0 auto;
    padding: 80px 10px 30px;
    background: #fff;
}
.main-header {
    margin: 10px;
    font-size: 1.5em;
    color: #807e7e;
}
.main-header >p >span {
    font-weight: bold;
    /*color: #ea2c5a;*/
}
.main-description {
	padding: 0 20px
}
.menu_tags  {
	width: 96%;
	padding: 2%;
	margin-top: 10px;
	text-align: center;
}
.item {
	width: calc(25% - 24px);
	margin: 30px 10px 10px; 
	display: inline-block;
	vertical-align:top;
}
.item a {
    text-decoration: none;
    color: #383737;
}
.item a:hover {
	color: #a9a9a9;
}
.item-img {
	position: relative;
} 
.item-img img {
	width: 100%;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
}
.play {
	display: none;
	position: absolute;
	width: 50px !important;
    height: 50px;
	margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
	border-radius: 50% !important;
}
.item-img:hover .play  {
    display: block;
}
.item-header {
	font-size: 15px;
    line-height: 17px;
    font-weight: 600;
	margin-top: 10px;
    /*white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;*/
    word-wrap: break-word;
}
.item-channel {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
}
.item-date {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
    color: #a9a9a9;
}
.item-description {
	margin-top: 10px;
	font-size: 14px;
	color: #636363;
    line-height: 20px;
	word-wrap: break-word;
}
.page-token {
	width: 96%;
	margin: 4% 2%;
	text-align: center;
}
.page-token li a {
	padding: 12px;
	width: 120px;
	font-size: 18px;
}
.plyr {
    max-height: 500px !important;
}
.video {
	width: calc(100% - 430px);
	margin: 10px;
	display: inline-block;
	vertical-align:top;
}
/*.video-container {
	position: relative;
	padding-bottom: 52.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}*/
.video-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
h1 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
    /*white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;*/
    word-wrap: break-word;
}
.video-actions {
	text-align: right;
	margin-top: 30px;
	font-size: 14px;
}
.video-actions a{
	display: inline-block;
	padding: 7px 14px;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.video-actions a:hover{
	background: #ffffff;
}
.video-short {
    padding: 15px 30px 10px;
	margin-top: 30px;
    background-color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    -webkit-box-shadow: 0px 2px 1px 1px #d6d7d8;
    -moz-box-shadow: 0px 2px 1px 1px #d6d7d8;
    box-shadow: 0px 2px 1px 1px #d6d7d8;
}
.video-count, .video-data {
	margin: 10px;
	display: inline-block;
	vertical-align:top;
}
.video-data {
	/*width: 380px;*/
}
.video-channel {
    font-size: 16px;
	font-weight: bold;
}
.video-channel a {
    text-decoration: none;
    color: #383737;
}
.video-channel img {
    width: 45px;
	margin-bottom: -16px;
	border: 3px solid #fff;
	box-shadow: 0 2px 2px 1px rgba(120, 120, 120, 0.42);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.video-date {
    color: #a0a0a0;
	font-size: 13px;
	margin-top: 25px;
}
.video-share {
	margin-top: 10px;
}
.video-count {
	width: 250px;
	float: right;
}
.video-view {
	font-size: 20px;
	text-align: right;
}
.video-line {
	width: 100%;
	height: 3px;
	margin: 10px 0;
	background: #ea2c5a;
}
.video-like {
	width: 100%;
}
.video-like span{
	font-size: 21px;
}
.like {
	width: 49%;
	text-align: left;
	color: #28b47e;
	display: inline-block;
}
.dislike {
	width: 49%;
	text-align: right;
	color: #ea2c5a;
	display: inline-block;
}
.video-url {
	width: 96%;
	margin: 2%;
}
.video-url textarea {
	width: 96%;
	padding: 2%;
	margin-top: 10px;
	overflow: hidden;
	border: 1px solid #e6e6e6;
}
.video-url span {
	display: block;
    font-size: 15px;
	color: #a0a0a0;
}
.video-description {
	width: 96%;
	margin: 4% 2% 2%;
	font-size: 15px;
	color: #383737;
	line-height: 23px;
    word-wrap: break-word;
}
.video-description h2 {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	color: #383737;
	font-weight: bold;
}
.video-captions {
	width: 96%;
	margin: 4% 2% 2%;
	font-size: 15px;
	color: #383737;
	line-height: 23px;
    word-wrap: break-word;
}
.video-captions h2 {
	display: block;
	font-size: 16px;
	color: #383737;
	font-weight: bold;
}
.video-tags {
	width: 96%;
	padding: 2%;
	margin-top: 10px;
}
.video-tags h2 {
	display: block;
	font-size: 16px;
    color: #383737;
	font-weight: bold;
}
input[type="checkbox"] {
	display: none;
}
label {
	cursor: pointer;
}
#label-check {
	display: block;
	width: 100px;
	padding: 12px;
	margin: 20px auto;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	background: #ffffff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#label-check:hover {
	color: #ffffff;
}
.button-download {
	display: inline-block;
	padding: 7px 14px;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.button-download:hover{
	background: #ffffff;
}
.check, .check-download {
    width: 100%;
    display: none;
}
input:checked ~ .check, input:checked ~ .check-download {
	display: block;
}
.check-download {
	text-align: right;
}
.check-download  li {
	display: inline-block;
	margin: 10px 0 10px 10px;
}
.check-download  li  a{
	background: #ffffff;
}
.check-download  li  a:hover{
	color: #ffffff;
}
.nav-channel {
	text-align: center;
	margin: 30px;
}
.nav-tags {
	margin: 20px 0;
}

/* Комментарии */
.video-comments {
	width: 96%;
	padding: 2%;
	margin-top: 10px;
	word-wrap: break-word;
}
.video-comments h2 {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	color: #383737;
	font-weight: bold;
}
.itemk {
	width: 100%;
	margin-top: 20px;
}
.itemk a {
    color: #383737;
}
.itemk-img {
	width: 50px;
	display: inline-block;
	vertical-align: top;
}
.itemk-img img {
	width: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.itemk-description {
	width: 90%;
	display: inline-block;
	vertical-align: top;
}
.itemk-channel {
    font-size: 12px;
	font-weight: bold;
    line-height: 14px;
}
.itemk-date {
    font-size: 12px;
	font-weight: 100;
    line-height: 14px;
    color: #a9a9a9;
}
.itemk-comments {
	margin-top: 5px;
	color: #383737;
	font-size: 15px;
    line-height: 20px;
}
.itemk-like {
	color: #28b47e;
	font-size: 14px;
	margin-top: 10px;
}
.itemk-like span {
	font-size: 16px;
}
.replies {
	width: 90%;
	margin-left: 10%;
	margin-top: 20px;
}
.replies img {
	width: 30px;
}
.replies .itemk-img {
	width: 45px;
}
/*. Комментарии */

.watch-related {
	width: 380px;
	margin: 10px;
	display: inline-block;
	vertical-align:top;
}
.watch-related > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 20px;
}
.itemr {
	width: 100%;
	margin-top: 15px;
}
.itemr a {
    text-decoration: none;
    color: #383737;
}
.itemr a:hover {
    color: #a9a9a9;
}
.itemr-img {
	width: 169px;
	display: inline-block;
	vertical-align:top;
	margin-right: 15px;
	position: relative;
}
.itemr-img img {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.playr {
	display: none;
	position: absolute;
	width: 40px !important;
    height: 40px;
	margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
	border-radius: 50% !important;
}
.itemr-img:hover .playr  {
    display: block;
}
.itemr-data {
	width: 191px;
	display: inline-block;
	vertical-align:top;
}
.itemr-header {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
}
.itemr-channel {
	display: block;
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
}
.itemr-date {
	display: block;
	font-size: 13px;
	line-height: 20px;
	margin-top: 10px;
	color: #a9a9a9;
}
.page {
    width: 95%;
    margin: 40px auto;
}
.page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.page h2 {
	font-size: 20px;
	line-height: 26px;
	margin: 20px 0;
}
.page p {
	color: #7e7e7e;
	line-height: 26px;
	margin-bottom: 20px;
}
.page li {
	color: #7e7e7e;
	line-height: 26px;
	margin: 0 0 20px 40px;
	list-style-type: disc;
}
.page a {
	/*color: #ea2c5a*/;
}
.page a:hover {
	color: #7e7e7e;
}
/* .Main */

/* Footer */
footer {
	width: 100%;
	background: #313131;
}
.footer {
	width: calc(95% - 20px);
	margin: 0 auto;
	padding: 0 10px;
}
.footer-body {
	width: calc(100% - 157px);
	margin: 10px;
	display: inline-block;
	vertical-align: middle;
}
.footer-nav {
	padding: 15px 0;
	border-bottom: 1px solid #8a8a8a;
}
.footer-nav a {
	margin-right: 15px;
	color: #8a8a8a;
    font-size: 0.8em;
}
.footer-copy {
	padding: 15px 0;
	color: #8a8a8a;
    font-size: 0.8em;
}
/* Footer */

.error > h1, .error > p {
	text-align: center;
}
.error{
	width: calc(95% - 20px);
	margin: 20px 10px;
    vertical-align: top;
}
.error_icon {
	/*color: #ea2c5a;*/
	font-size: 20vw;
	font-weight: bold;
	line-height: 1.0em;
}

/* Тизеры */
.teaser-mobile {
        display: none;
    }
@media (max-width: 768px) {
    .teaser {
        display: none;
    }
    .teaser-mobile {
        display: block;
    }
}
/* .Тизеры */