<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6" lang="ru"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="ru"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="ru"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<html lang="ru">
	<head>
		<title>{$title_settings}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8">
		<meta name="yandex-verification" content="795105c758004599" />
		<meta name="yandex-verification" content="f1d784250af4d9dd" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta name="keywords" content="{$keywordss_settings}" />
		<meta name="description" content="{$description_settings}" />
		<meta name="author" content="{$email_settings}" />

		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{$HOST}/rss.xml">
		<link rel="stylesheet" href="{$HOST}/templates/{$template_settings}/css/style.css" />
		<link rel="shortcut icon" href="{$HOST}/favicon.ico" />
		<link rel="apple-touch-icon" href="{$HOST}/templates/{$template_settings}/img/favicon.png" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script>window.html5 || document.write('<script src="{$HOST}/templates/{$template_settings}/js/html5shiv.js"><\/script>')</script>
		<![endif]-->
		<script src="{$HOST}/templates/{$template_settings}/js/jquery-1.7.1.min.js"></script>
		<!-- Подгрузка контента -->
		<script src="{$HOST}/templates/{$template_settings}/js/templates.js"></script>
		<!-- .Подгрузка контента -->
		<!-- Антикопипаст -->
		<script type="text/javascript" src="{$HOST}/templates/{$template_settings}/js/addtocopy.js"></script>
		<script type="text/javascript">
			$(function(){
				$("#article").addtocopy({htmlcopytxt: ' <span> По материалам сайта ТвояСемья.рф</span>'});
			});
		</script>
		<!-- .Антикопипаст -->
		<!-- Скрипт сообщить об ошибке -->
		<script type="text/javascript">
			jQuery(function(){
				jQuery(document).keydown(function (e) {
					if ((e.ctrlKey && e.keyCode == 13) || (e.metaKey && e.keyCode == 13)) {
						e.preventDefault();
						var text = "";
						if (window.getSelection) {
							text = window.getSelection().toString();
						} else if (document.selection && document.selection.type != "Control") {
							text = document.selection.createRange().text;
						}

						if(text!==''){
							jQuery.ajax({
								url: '{$HOST}/send.php',
								type: 'post',
								data: 'header_mail=Сообщение об ошибке с сайта ТвояСемья.рф&body_mail=Ошибка - "'+text+'"&alt_mail=Ошибка"'+text+'"&serverResponse=Спасибо за помощь. Запрос отправлен.',
								success: function(data){
									document.getElementById('serverResponse').innerHTML = '<div><h3>'+data+'</h3></div>';
									setTimeout(function() {
										document.getElementById('serverResponse').innerHTML = '';
									}, 3000);
								}
							});
						}
					}
				});
			});
		</script>
		<!-- .Скрипт сообщить об ошибке -->
	</head>

	<body id="body">
		<!-- Яндекс метрика -->
		<script type="text/javascript">
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter41991029 = new Ya.Metrika({
							id:41991029,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/41991029" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Яндекс метрика -->

		<!-- Гугл метрика -->
		<!--noindex-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-84021046-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<!--/noindex-->
		<!-- /Гугл метрика -->


		<!-- Скрипт сообщить об ошибке -->
		<!--noindex-->
		<div id="serverResponse"> </div>
		<!--/noindex-->
		<!-- .Скрипт сообщить об ошибке -->

		<!-- Панель администратора -->
		<!--noindex-->
		{$admin_panel}
		<!--/noindex-->
		<!-- .Панель администратора -->

		<!-- Шапка сайта -->
		<header>
			<div id="logo">
				<a {$url_logo}>
					<img src="{$HOST}/templates/{$template_settings}/img/settings/medium/{$image_settings}" alt="Логотип сайта" title="Логотип сайта ТвояСемья.рф">
				</a>
				<!--Реклама гугл-->
				<!--noindex-->
				<div class="none_min_979" style="float:right;width:650px;padding:25px 10px 0;">
					{$header_advertisings}
				</div>
				<!--/noindex-->
				<!--.Реклама гугл-->
			</div>
			<nav id="navigation_mobile" class="block_min_979">
				<a href="#" onclick="javascript:modal_visible('modal_menu')"><span class="icon-menu"></span> МЕНЮ</a>
			</nav>
			<nav id="navigation_categories" class="none_min_979">
				{$navigation_categories}
				<form id="search" method="POST" action="{$HOST}/search/string">
					<input id="input_search" type="search" name="search" placeholder="Искать" autocomplete="off">
				</form>
			</nav>
			<nav id="navigation_subcategories" class="none_min_979">
				{$navigation_subcategories}
			</nav>
			<!--Строка навигации-->
			<!--noindex-->
			<nav id="navigation_string" class="none_min_979">
				<a {$url_logo}>{$DOMAIN}</a>{$navigation_string}
			</nav>
			<!--/noindex-->
			<!--Строка навигации-->
		</header>
		<!-- .Шапка сайта -->

		<!-- Основной контент сайта -->
		{$error_reporting}
		{$content}
		<!-- .Основной контент сайта -->

		<!-- Навигация плагина Инфинити -->
		<!--noindex-->
		<nav id="page_nav">
			{$get}
		</nav>
		<!--/noindex-->
		<!-- .Навигация плагина Инфинити -->

		<!-- Футер сайта -->
		<!--noindex-->
		<footer>
			<div id="preview">
				<div id="preview_body">
					{$preview_settings}
				</div>
			</div>
			<nav id="footer_nav" class="none_min_979">
				{$navigation_categories}
			</nav>
			<div id="footer_body">
				<img class="none_min_480" src="{$HOST}/templates/{$template_settings}/img/settings/medium/footer_logo.png" alt="Виды комнатного цветка аспарагус"><br>
				<p class="none_min_480">{$footer_settings}</p>
				<p class="none_min_480">{$copyright_settings}</p>
				<div class="none_min_480">
					<!--<a href="https://www.facebook.com/groups/tvoyasemya" class="social f" target="_blank"><span class="icon-uniE000"></span></a>
					<a href="https://twitter.com/TvoyaSemya" class="social t" target="_blank"><span class="icon-uniE001"></span></a>
					<a href="https://plus.google.com/u/0/stream/circles/p3e27a3990a2468f2" class="social g" target="_blank"><span class="icon-uniE004"></span></a>
					<a href="https://ok.ru/group/53002148643006" class="social ok" target="_blank"><span class="icon-uniE005"></span></a>
					<a href="https://my.mail.ru/tvoya-semya.ru/contacts/" class="social mail" target="_blank"><span class="icon-uniE006"></span></a>
					<a href="http://tvoyasemya.livejournal.com/" class="social lj" target="_blank"><span class="icon-uniE007"></span></a>
					<a href="http://vk.com/tvoyasemyarf" class="social vk" target="_blank"><span class="icon-uniE002"></span></a>-->
					{$navigation_pages}
				</div>
				<br>
				<p><span class="icon-envelope"></span> {$email_settings}<br>
				<span class="icon-home"></span> {$address_settings}<br>
				<span class="icon-phone"></span> {$phone_settings}</p>

				<!--LiveInternet counter-->
				<script type="text/javascript"><!--
				document.write("<a href='//www.liveinternet.ru/click' "+
				"target=_blank><img src='//counter.yadro.ru/hit?t14.1;r"+
				escape(document.referrer)+((typeof(screen)=="undefined")?"":
				";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
				screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
				";"+Math.random()+
				"' alt='' title='LiveInternet: показано число просмотров за 24"+
				" часа, посетителей за 24 часа и за сегодня' "+
				"border='0' width='88' height='31'><\/a>")
				//--></script>
				<!--/LiveInternet-->
			</div>
		</footer>
		<!--/noindex-->
		<!-- .Футер сайта -->

		<!-- Модальное окно меню -->
		<!--noindex-->
		<div id="modal_menu" style="display:none; overflow:auto;">
			<a id="modal_close" class="modal_menu" onclick="javascript:modal_hidden('modal_menu')">✕</a>
			<div style="text-align:center;margin:50px auto 0;">{$modal_menu}</div>
		</div>
		<!--/noindex-->
		<!-- .Модальное окно меню -->

		<!-- Плагин Изотоп и Инфинити -->
		<script src="{$HOST}/templates/{$template_settings}/js/isotope.min.js"></script>
		<script src="{$HOST}/templates/{$template_settings}/js/imagesloaded.min.js"></script>
		<script src="{$HOST}/templates/{$template_settings}/js/infinitescroll.min.js"></script>
		<script>
		$(document).ready(function() {
			var $container = $('#content');
			$container.imagesLoaded(function(){
				$container.isotope({
					itemSelector : '.article_item'
				});
			});
			$('#content').infinitescroll({
				navSelector  : '#page_nav', 
				nextSelector : '#page_nav a', 
				itemSelector : '.article_item',
				loading: {
					finishedMsg: 'Записи отсутствуют',
					img: '{$HOST}/templates/tvoyasemya/img/loading.gif'
				}
			},
			function( newElements ) {
				var $newElems = jQuery( newElements ).hide(); 
				$newElems.imagesLoaded(function(){
					$newElems.fadeIn();
					$container.isotope( 'appended', $newElems );
				});
			});
		 
		});
		</script>
		<!-- /Плагин Изотоп и Инфинити -->

		<!-- Кнопка прокрутки вверх -->
		<!--noindex-->
		<div id="scroll_to_top">
			<span class="icon-circle-up"></span>
		</div>
		<script src="{$HOST}/templates/{$template_settings}/js/scroll_to_top.js"></script> 
		<script type="text/javascript"> 
			$(function() { 
				$("#scroll_to_top").scrollToTop();
			}); 
		</script>
		<!--noindex-->
		<!-- .Кнопка прокрутки вверх -->

		<!-- Фиксированный блок сайтбара -->
		<script>
			(function(){
			var a = document.querySelector('#scrol_fixed'), b = null, P = 20;
			window.addEventListener('scroll', Ascroll, false);
			document.body.addEventListener('scroll', Ascroll, false);
			function Ascroll() {
			  if (b == null) {
				var Sa = getComputedStyle(a, ''), s = '';
				for (var i = 0; i < Sa.length; i++) {
				  if (Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0 || Sa[i].indexOf('background') == 0) {
					s += Sa[i] + ': ' +Sa.getPropertyValue(Sa[i]) + '; '
				  }
				}
				b = document.createElement('div');
				b.style.cssText = s + ' box-sizing: border-box; width: ' + a.offsetWidth + 'px;';
				a.insertBefore(b, a.firstChild);
				var l = a.childNodes.length;
				for (var i = 1; i < l; i++) {
				  b.appendChild(a.childNodes[1]);
				}
				a.style.height = b.getBoundingClientRect().height + 'px';
				a.style.padding = '0';
				a.style.border = '0';
			  }
			  var Ra = a.getBoundingClientRect(),
				  R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('#article_text').getBoundingClientRect().bottom);  // селектор блока, при достижении нижнего края которого нужно открепить прилипающий элемент
			  if ((Ra.top - P) <= 0) {
				if ((Ra.top - P) <= R) {
				  b.className = 'stop';
				  b.style.top = - R +'px';
				} else {
				  b.className = 'sticky';
				  b.style.top = P + 'px';
				}
			  } else {
				b.className = '';
				b.style.top = '';
			  }
			  window.addEventListener('resize', function() {
				a.children[0].style.width = getComputedStyle(a, '').width
			  }, false);
			}
			})()
		</script>
		<!-- /Фиксированный блок сайтбара -->

		<!--Добавить в закладки-->
		<script>
			function add_favorite(a) { 
				title=document.title; 
				url=document.location; 
				try { 
				// Internet Explorer 
					window.external.AddFavorite(url, title); 
				} 
				catch (e) { 
					try { 
					  // Mozilla 
						window.sidebar.addPanel(title, url, ""); 
					} 
					catch (e) { 
					  // Opera и Firefox 23+ 
						if (typeof(opera)=="object" || window.sidebar) { 
						a.rel="sidebar"; 
						a.title=title; 
						a.url=url; 
						a.href=url; 
						return true; 
						} 
						else { 
						// Unknown 
							alert('Нажмите клавиши Ctrl+D чтобы добавить страницу в закладки'); 
						} 
					} 
				} 
				return false; 
			} 
		</script>
		<!--/Добавить в закладки-->
	</body>
</html>