
			<article class="article_item">
				<a href="{$url_articles}" title="{$header_articles}">
					<img src="{$HOST}/templates/{$template_settings}/img/articles/medium/{$image_articles}" alt="Изображение для статьи — {$header_articles}" title="{$header_articles}">
				</a>
				<div class="cat_nav">
					<a href="{$url_category_articles}">{$category_articles}</a> / 
					<a href="{$url_subcategory_articles}">{$subcategory_articles}</a>
				</div>
				<div class="header_articles_3"><a href="{$url_articles}" title="{$header_articles}">{$header_articles}</a></div>
				<!--noindex-->
				<p>{$preview_articles}</p>
				<!--/noindex-->
				<a class="more" href="{$url_articles}" title="{$header_articles}">Читать полностью</a>
			</article>
