
						<article class="article_one">
							<time class="none_min_480">{$date_articles}</time>
							<h1>{$header_articles}</h1>

							<!--noindex-->
							<div class="article_block none_min_480">
								{$article_top_advertisings}
							</div>
							<!--/noindex-->

							<div class="article_block">
								<p>{$preview_articles}</p>
							</div>
							<img class="article_block" src="{$HOST}/templates/{$template_settings}/img/articles/large/{$image_articles}" alt="Изображение для статьи — {$header_articles}" title="{$header_articles}">
							
							<!--noindex-->
							<div class="article_block none_min_480">
								{$article_center_advertisings}
							</div>
							<!--/noindex-->
							
							<div id="article_text" class="article_block">
								{$text_articles}
							</div>
							<div id="keyboard" class="article_block none_min_480" onclick="return add_favorite(this);">
								<p><i>Нажмите клавиши <b><span class="keyboard">Ctrl</span> + <span class="keyboard">D</span></b> чтобы добавить статью в закладки.</i></p>
							</div>

							<!--noindex-->
							<div class="article_block none_min_480">
								{$article_bottom_advertisings}
							</div>
							<!--/noindex-->

							<!--noindex-->
							<div class="article_block tags"><span class="icon-bookmark"></span><b> Метки:</b> {$tags_articles}</div>
							<!--/noindex-->
						</article>

						<!--noindex-->
						<aside class="none_min_979">
							<div class="scrol_nofixed">
								<div class="header_articles_4">Как стать первым?</div>
								<p>Оформите подписку на уведомления о публикации новых статей</p>
								<form onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=tvoyasemya', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" target="popupwindow" method="post" action="https://feedburner.google.com/fb/a/mailverify">
									<input type="hidden" value="tvoyasemya" name="uri"/>
									<input type="hidden" name="loc" value="ru_RU"/>
									<input style="margin-bottom:20px;padding:5px;width:80%;" type="text" placeholder="Введите ваш e-mail" name="email">
									<input class="more" style="margin-bottom:10px;padding:7px 15px;width:80%;" type="submit" value="Подписаться">
								</form>
							</div>
							<div class="scrol_nofixed">
								{$sitebar_top_advertisings}
							</div>

							<div id="scrol_fixed" style="margin-top:20px;">
								<!-- Виджет одноклассников -->
								<div id="ok_group_widget"></div>
								<style>#__okGroup0{width:100% !important;}</style>
								<script>
									!function (d, id, did, st) {
									  var js = d.createElement("script");
									  js.src = "https://connect.ok.ru/connect.js";
									  js.onload = js.onreadystatechange = function () {
									  if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
										if (!this.executed) {
										  this.executed = true;
										  setTimeout(function () {
											OK.CONNECT.insertGroupWidget(id,did,st);
										  }, 0);
										}
									  }}
									  d.documentElement.appendChild(js);
									}(document,"ok_group_widget","53002148643006","{width:295,height:400}");
								</script>
								<!-- /Виджет одноклассников -->
								<!-- Виджет вконтакте
								<script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
								<style>#vk_groups{width:100% !important;}</style>
								<div id="vk_groups"></div>
								
								<script type="text/javascript">
								VK.Widgets.Group("vk_groups", {mode: 1, width: "293", height: "150", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, 114461197);
								</script>
								<!-- /Виджет вконтакте -->
								<!--<div style="padding:4%;background: #f1f1f1;">
									<a rel="nofollow" href="https://plus.google.com/u/0/stream/circles/p3e27a3990a2468f2" target="_blank"><img class="social_group" src="{$HOST}/templates/{$template_settings}/img/google.jpg" width="100%"></a>
									<a rel="nofollow" href="http://vk.com/tvoyasemyarf" target="_blank"><img class="social_group" src="{$HOST}/templates/{$template_settings}/img/vk.jpg" width="100%"></a>
									<a rel="nofollow" href="https://ok.ru/group/53002148643006" target="_blank"><img class="social_group" src="{$HOST}/templates/{$template_settings}/img/ok.jpg" width="100%"></a>
									<a rel="nofollow" href="http://tvoyasemya.livejournal.com/" target="_blank"><img class="social_group" src="{$HOST}/templates/{$template_settings}/img/jornal.jpg" width="100%"></a>
									<a rel="nofollow" href="https://www.facebook.com/groups/tvoyasemya" target="_blank"><img class="social_group" src="{$HOST}/templates/{$template_settings}/img/facebook.jpg" width="100%"></a>
									<a rel="nofollow" href="https://my.mail.ru/community/tvoya-semya.ru/" target="_blank"><img class="social_group" src="{$HOST}/templates/{$template_settings}/img/mail.jpg" width="100%"></a>
								</div>-->
								<div class="scrol_nofixed">
									<div class="header_articles_4">Нашли опечатку?</div>
									<p>Выделите текст ошибки мышкой и</p>
									<p>нажмите клавиши <b><span class="keyboard">Ctrl</span> + <span class="keyboard">Enter</span></b></p>
								</div>
							</div>
						</aside>
						<!--/noindex-->

						<!--noindex-->
						<div style="clear:both"></div>
						<div class="share-buttons">
							<script rel="canonical" type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
							<script rel="canonical" type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
							<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj,whatsapp" data-counter=""></div>
							<div class="clearfix"></div>
						</div>
						<!--/noindex-->

						<!-- Комментарии
						<div id="hypercomments_widget"></div>
						<script type="text/javascript">
							_hcwp = window._hcwp || [];
							_hcwp.push({widget:"Stream", widget_id: 77819});
							(function() {
							if("HC_LOAD_INIT" in window)return;
							HC_LOAD_INIT = true;
							var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
							var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
							hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/77819/"+lang+"/widget.js";
							var s = document.getElementsByTagName("script")[0];
							s.parentNode.insertBefore(hcc, s.nextSibling);
							})();
						</script>
						<!-- .Комментарии -->
