
			<div class="itemk {$class_comments}">
				<div class="itemk-img">
					<!--<a href="{$HOST}/channel/{$authorChannelId}" title="{$authorDisplayName}">-->
					<a title="{$authorDisplayName}">
						<img src="{$authorProfileImageUrl}" alt="{$authorDisplayName}">
					</a>
				</div>
				<div class="itemk-description">
					<div class="itemk-channel">
						<!--<a href="{$HOST}/channel/{$authorChannelId}" title="{$authorDisplayName}">{$authorDisplayName}</a><span class="itemk-date"> &#8226; {$publishedAt}</span>-->
						<a title="{$authorDisplayName}">{$authorDisplayName}</a><span class="itemk-date"> &#8226; {$publishedAt}</span>
					</div>
					<div class="itemk-comments">
						{$textOriginal}
					</div>
					<div class="itemk-like">
						<span>&#128077; </span>{$likeCount}
					</div>
				</div>
			</div>