<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebPage",
   "name": "Скачать {$title} - смотреть онлайн",
   "headline": "{$title}",
   "description": "{$description_site}",
   "primaryImageOfPage": {
	   "@type": "ImageObject",
	   "contentUrl": "{$HOST}/imagefile/{$videoId}.jpg",
	   "width": "320",
	   "height": "180"
   },
   "image": {
	   "@type": "ImageObject",
	   "contentUrl": "{$HOST}/imagefile/{$videoId}.jpg",
	   "width": "320",
	   "height": "180"
   },
   "video": {
	   "@type": "VideoObject",
	   "name": "{$title}",
	   "description": "Смотрите или скачивайте видео {$title}, от пользователя {$channelTitle}",
	   "duration": "{$duration}",
	   "uploadDate": "{$publishedAt}",
	   "url": "{$URL}",
	   "thumbnailUrl": "{$HOST}/imagefile/{$videoId}.jpg",
	   "thumbnail": {
		   "@type": "ImageObject",
		   "contentUrl": "{$HOST}/imagefile/{$videoId}.jpg",
		   "width": "320",
		   "height": "180"
	   },
	   "embedUrl": "{$HOST}/embed/{$videoId}",
	   "contentUrl": "{$HOST}/videofile/{$videofile}",
	   "playerType": "HTML5",
	   "width": "{$width}",
	   "height": "{$height}",
	   "isFamilyFriendly": "True"
   }
}
</script>