<label class="control-label" for="image_articles">Картинка статьи</label><div style="clear:both;"></div>
<img style="padding:5px;border:#d6d6d6 1px solid;border-left:#f00d14 1px solid;float:left;max-width:50%;margin-bottom:20px;" src="{$HOST}/templates/img/{$image}">
<a style="position:relative;left:-10px;top:-10px;" href="#" onclick="form_delite_images.submit();">
	<img src="{$HOST}/templates/img/delite.png">
</a>
<div style="clear:both;"></div>
<input type="hidden" name="image_name" value="{$image}">