<script type="text/javascript">
	function myFunc(el){
		var inputs_none = document.getElementsByClassName('none');
		for(i=0; i < inputs_none.length; i++) {
			inputs_none[i].style.display='none';
			inputs_none[i].removeAttribute("name");
		}
		k=el.options[el.selectedIndex].value;
		var inputs = document.getElementsByClassName(k);
		for(i=0; i < inputs.length; i++) {
			inputs[i].style.display='inline-block';
			inputs[i].setAttribute('name', 'subcategory_articles');
		}
	}
</script>
<h2>{$title_content}</h2>
<form name="form" method="POST" action="{$url_action}" ENCTYPE="multipart/form-data" id="comment-form" role="form">
	<input type="hidden" name="id" value="{$id}">

	<div class="form-group">
		<label class="control-label" for="category_articles">Категория статьи</label>
		<div class="controls">
			<select class="form-control" name="category_articles" onchange="myFunc(this)">
				<option value="">---</option>
				{$categories}
			</select>
		</div>
	</div>
	{$subcategories}

	<div class="form-group">
		<label class="control-label" for="title_articles">Заголовок статьи</label>
		<div class="controls">
			<input class="form-control" type="text" name="title_articles" value="{$title_articles}">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label" for="description_articles">Краткое описание статьи</label>
		<div class="controls">
			<textarea name="description_articles" cols="40" rows="2" tabindex="4" class="form-control" >{$description_articles}</textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label" for="keywords_articles">Ключевые слова статьи</label>
		<div class="controls">
			<textarea name="keywords_articles" cols="40" rows="2" tabindex="4" class="form-control" >{$keywords_articles}</textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label" for="">Текст статьи</label>
		<div class="controls">
			<textarea name="text_articles" cols="40" rows="15" tabindex="4" class="form-control" >{$text_articles}</textarea>
		</div>
	</div>

	{$image_form}
	<div class="form-group">
		<label class="control-label" for="image_articles">Выбор другой картинки статьи</label>
		<div class="controls">
			<input class="form-control" type="file" name="image_articles">
		</div>
	</div>

	<input type="submit" value="Сохранить" class="solid-button form-column-right">
</form>
{$form_delite_articles}
{$form_delite_images}