<h2>{$title_content}</h2>

<form name="form" method="POST" action="{$url_action}" ENCTYPE="multipart/form-data" id="comment-form" role="form">
	<input type="hidden" name="id" value="{$id}">
	<input type="hidden" name="hash_settings" value="{$hash_settings}">



	<div class="form-group">
		<label class="control-label" for="footer_settings">Футер сайта</label>
		<div class="controls">
			<input class="form-control" type="text" name="footer_settings" value="{$footer_settings}">
		</div>
	</div>

	<input type="submit" value="Сохранить" class="solid-button form-column-right">  
</form>
{$form_delite_images}