
			<style>
				.noindex{
					text-align:center;
				}
				.ok:hover{
					color: #ee8208;
					border: 1px solid #ee8208;
				}
				.vk:hover{
					color: #4E729A ;
					border: 1px solid #4E729A ;
				}
			</style>
			<noindex>
				<div class="noindex none_1024">
					<!--<a href="https://www.facebook.com/groups/tvoyasemya" class="social f" target="_blank"><span class="icon-uniE000"></span></a>
					<a href="https://twitter.com/TvoyaSemya" class="social t" target="_blank"><span class="icon-uniE001"></span></a>
					<a href="https://plus.google.com/u/0/stream/circles/p3e27a3990a2468f2" class="social g" target="_blank"><span class="icon-uniE004"></span></a>
					<a href="https://my.mail.ru/tvoya-semya.ru/contacts/" class="social mail" target="_blank"><span class="icon-uniE006"></span></a>
					<a href="http://tvoyasemya.livejournal.com/" class="social lj" target="_blank"><span class="icon-uniE007"></span></a>
					<a href="http://ok.ru/kinopoisk24" class="button ok" target="_blank">группа в одноклассниках</a>
					<a href="http://vk.com/club_kinopoisk24" class="button vk" target="_blank">группа в вконтакте</a>-->
				</div>
			</noindex>
