<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6" lang="ru"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7" lang="ru"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{$title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta name="description" content="{$description}" />
		<meta name="keywords" content="{$keywords}" />
		<meta name="author" content="{$email}">
		<link rel="stylesheet" href="{$HOST}/templates/css/style.css">
		<link rel="stylesheet" href="{$HOST}/templates/css/slider.css">
		<link rel="shortcut icon" href="{$HOST}/templates/images/favicon.ico">
		<link rel="apple-touch-icon" href="{$HOST}/templates/images/favicon.png">
		<meta name='yandex-verification' content='6fdc0be0e0acf602' />
		<script src="{$HOST}/templates/js/jquery-1.11.3.min.js"></script>
		<script src="{$HOST}/templates/js/jquery.mobile.custom.min.js"></script>
		<script src="{$HOST}/templates/js/jquery.slider-rm.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script>window.html5 || document.write('<script src="{$HOST}/templates/js/html5shiv.js"><\/script>')</script>
		<![endif]-->
	</head>
	<body id="body">

		<section>
			{$content}
			{$error_reporting}
		</section>

		<div style="clear:both;"></div>
		<footer>
			<p class="none_1024">Copyright 2017 © {$DOMAIN}</p>
		</footer>

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter37218780 = new Ya.Metrika({
							id:37218780,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true,
							trackHash:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/37218780" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->

		<script src="{$HOST}/templates/js/jquery.slider-conf.js"></script>
	</body>
</html>