
			<div class="item">
				<img class="image_prev_smal" src="{$HOST}/templates/images/video/{$kinopoisk_id}.jpg" title="{$title_ru}" alt="Изображение для {$title_ru}">
				<a class="link_title" href="{$HOST}/{$kinopoisk_id}">
					<p style="font-size:1.5em;line-height:2.0em;color:#000000;">{$title_ru}</p>
					<p style="font-size:1.1em;line-height:2.0em;color:#000000;">{$title_en}</p>
				</a>
				<p>Категория: {$category}</p>
				<a class="button line" href="{$HOST}/{$kinopoisk_id}">Смотреть</a>
				<div style="clear:both;"></div>
			</div>
