
		<!-- Ссылка обратной связи -->
		<a id="post" class="button" onclick="javascript:modal_visible('modal')">Пожаловаться на видео</a>
		<!-- /Ссылка обратной связи -->

		<!-- Модальное окно -->
		<div id="modal" class="modal" style="display:none; overflow:auto;">
			<div class="form_mail">
				<span id="modal_close" onclick="javascript:modal_hidden('modal')">×</span>
				<form id="form_mail" method="post" action="" onSubmit="return checkall()">
					<input type="hidden" name="url" value="{$HOST}/{$kinopoisk_id}">
					<div class="form-group">
						<label class="control-label" for="email">Адрес электронной почты (для ответа) <span id="em"></span></label>
						<div class="controls">
							<input class="form-control" type="text" name="email" id="email" onBlur="validateEmail()" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="text">Суть жалобы (не более 500 символов) <span id="au"></span></label>
						<div class="controls">
							<textarea class="form-control" name="text" id="text" onBlur="validateName()" rows="14"></textarea>
						</div>
					</div>
					<input type="button" id="btn" class="button" value="Отправить" />
					<div id="result_form"></div> 
				</form>
			</div>
		</div>
		<!--/Модальное окно -->

		<script src="{$HOST}/templates/js/modals.js"></script>
		<script src="{$HOST}/templates/js/jquery-1.7.1.min.js"></script>
		<script src="{$HOST}/templates/js/send.js"></script>