<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>{$title} смотреть онлайн</title>
		<meta content="Смотреть онлайн {$title}" name="description">
		<meta content="width=device-width,minimum-scale=1,initial-scale=1" name="viewport">
		<meta content="True" name="HandheldFriendly">
		<link href="{$HOST}/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link rel="stylesheet" href="{$HOST}/templates/{$templates}/css/embed.css">
		<!--Плеер -->
		<script src="https://cdn.plyr.io/3.4.7/plyr.js"></script> 
		<link rel="stylesheet" href="https://cdn.plyr.io/3.4.7/plyr.css">
		<!--/Плеер -->
		{$ld_json}
	</head>
	<body>
		{$player}
		<script>
			const player = new Plyr('#player', {
				settings: ['quality']
			}); 
			window.player = player; 
		</script>
	</body>
</html>