
				<div class="itemr">
					<a href="{$HOST}/watch/{$videoId}/{$translit}" title="{$title}">
						<div class="itemr-img">
							<img src="{$thumbnails}" alt="{$title}">
							<img class="playr" src="{$HOST}/templates/{$templates}/images/play.png"  alt="Воспроизведение видео">
						</div>
					</a>
					<div class="itemr-data">
						<a class="itemr-header" href="{$HOST}/watch/{$videoId}/{$translit}" title="{$title}">{$title_small}</a>
						<a class="itemr-channel" href="{$HOST}/channel/{$channelId}" title="{$channelTitle}">{$channelTitle}</a>
						<p class="itemr-date">{$publishedAt}</p>
					</div>
				</div>