
			<article class="article_item">
				<a href="{$url_articles}">
					<img src="{$HOST}/templates/{$template_settings}/img/articles/medium/{$image_articles}" alt="{$title_articles}">
				</a>
				<a href="{$url_category_articles}">{$category_articles}</a> / 
				<a href="{$url_subcategory_articles}">{$subcategory_articles}</a>
				<h3><a href="{$url_articles}">{$title_articles}</a></h3>
				<p>{$description_articles}</p>
				<a class="more" href="{$url_articles}">Читать полностью</a>
			</article>
