						
						<link itemprop="embedUrl" href="{$HOST}/embed/{$videoId}">
						<meta itemprop="allowEmbed" content="true">
						<meta itemprop="playerType" content="HTML5">
						<meta itemprop="width" content="{$width}">
						<meta itemprop="height" content="{$height}">
						<meta itemprop="videoQuality" content="{$quality}">
						<meta itemprop="bitrate" content="{$bitrate}">
						<!--<meta itemprop="contentSize" content="{$contentLength}">-->
						<meta itemprop="availablePlatform" content="Desktop">
						<meta itemprop="availablePlatform" content="Mobile">
						