
			<div class="video">
				{$add_watch_top}
				<div class="video-container">
					{$player}
					{$schema}
				</div>
				<h1>{$title}</h1>
				<div class="video-actions">
					<a href="{$HOST}/search/{$title_search}" title="{$title}">ПОИСК ПО ЗАГОЛОВКУ &#128269;</a>
					<label class="button-download" for="check-download">СКАЧАТЬ ВИДЕО ▼</label>
					<input type="checkbox" id="check-download">
					<ul class="check-download">
						{$download}
						<!--noindex-->
						<li>
							<a href="https://videos-downloader.ru/?url=https://www.youtube.com/watch?v={$videoId}" target="_blank" title="Скачать видео {$title}">еще...</a>
						<li>
						<!--/noindex-->
					</ul>
				</div>
				<div class="video-short">
					<div class="video-data">
						<div class="video-channel">
							<a href="{$HOST}/channel/{$channelId}" title="{$channelTitle}">
								<!--noindex-->
								<img src="{$channelThumbnail}" alt="{$channelTitle}">
								<!--/noindex-->
							</a>
							<a href="{$HOST}/channel/{$channelId}" title="{$channelTitle}">{$channelTitle}</a>
						</div>
						<div class="video-date">Опубликовано: {$publishedAtnew}</div>
						<!--noindex-->
						<div class="video-share">
							<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
							<script src="//yastatic.net/share2/share.js"></script>
							<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,viber,whatsapp,telegram"></div>
						</div>
						<!--/noindex-->
					</div>
					<div class="video-count">
						<div class="video-view">{$viewCount} просмотров</div>
						<div class="video-line">
							<div style="width: {$lineProgress}%;height: 3px;background: #28b47e;"> </div>
						</div>
						<div class="video-like">
							<div class="like"><span>&#128077; </span>{$likeCount}</div>
							<div class="dislike"><span>&#128078; </span>{$dislikeCount}</div>
						</div>
					</div>
					<div class="video-url">
						<span>Скопируйте и вставте на Ваш сайт</span>
						<textarea onclick="this.select();"><iframe width="560" height="315" src="{$HOST}/embed/{$videoId}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></textarea>
					</div>
				</div>
				<input type="checkbox" id="check">
				<label id="label-check" for="check">&#8645;</label>
				<div class="check">
					<div class="video-description">
						<h2>Описание</h2>
						{$description}
					</div>
					{$captions}
					<div class="video-tags">
						<h2>Тэги</h2>
						{$tags}
					</div>
					{$comments}
				</div>
				{$add_watch_bottom}
			</div>
			{$videos_related}
			{$add_modal}
