
								<label class="control-label" for="image_articles">Текущее изображение</label>
								<div style="clear:both;"></div>
								<img style="max-width:400px;padding:5px;border:#d6d6d6 1px solid;border-left:#f00d14 1px solid;float:left;margin-bottom:20px;" src="{$HOST}/templates/{$template_settings}/img/{$table}/medium/{$image_name}">
								<!--<a style="color:#f00d14;font-size:3.0em;font-weight:700;position:relative;left:-14px;top:-30px;cursor:pointer;" onclick="javascript:showContent('{$HOST}/{$ADMIN_DIRECTORY}/index.php?table={$table}&id={$id}&delite_images={$image_name}');">×</a>-->
								<div style="clear:both;"></div>
								<input type="hidden" name="image_name" value="{$image_name}">
