AddDefaultCharset UTF-8
#php_value log_errors "On"
#php_value error_log D:\OpenServer\domains\shablon\log\php_errors.log
#php_value error_log /home/d/denisul4/bella-rubcovsk.tk/public_html/log/php_errors.log

Options +FollowSymLinks

RewriteEngine On
	RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1
	RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?page=$1

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>