							<aside id="comments">
								<div id="comment-1" class="comment">
									<div class="comment-content">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-3 author">
												<img src="http://globalnews-dev.lab.sourcefabric.org/themes/publication_2/theme_2/_img/avatar-list.png" width="60" height="60" class="avatar" alt="avatar"><br>
												Denis (Anonymous)
												<br><time class="timeago" datetime="2015-01-08 07:30:39">2015-01-08 07:30:39</time>
											</div>
											 <div class="col-lg-9 col-md-9 col-sm-9">
												<div class="comment-box">
												<div class="arrow-top visible-xs"></div>
												<div class="arrow-left hidden-xs"></div>
												cdvs dfnb    dn zdfn fgn 
												</div>
											</div>
										</div>
									</div>
								</div>
								<h4>Write a Comment</h4>
								<form name="submit_comment" action="/en/may2013/politics/101/News-on-general-theory-of-relativity.htm" method="post" id="comment-form" role="form" >
									<div class="form-group">
										<label class="control-label" for="inputName">Name</label>
										<div class="controls">
											<input type="text" name="f_comment_nickname" maxlength="255" size="10" value="" id="author" tabindex="1" class="form-control"  />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" for="inputEmail">Email<span class="glyphicon glyphicon-asterisk"></span></label>
										<div class="controls">
										<input type="text" name="f_comment_reader_email" maxlength="255" size="10" value="" id="email" tabindex="2" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" for="">Comment<span class="glyphicon glyphicon-asterisk"></span></label>
										<div class="controls">
											<textarea name="f_comment_content" cols="40" rows="4" id="comment" tabindex="4" class="form-control" ></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="controls">
											<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LeVFuASAAAAAJvc6hlYEHZnlEIBakblsE54bTwA"></script>
											<noscript>
												<iframe src="http://www.google.com/recaptcha/api/noscript?k=6LeVFuASAAAAAJvc6hlYEHZnlEIBakblsE54bTwA" height="300" width="500" frameborder="0"></iframe><br/>
												<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
												<input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
											</noscript>
											<input type="hidden" name="f_captcha_handler" value="ReCAPTCHA" />
										</div>
									</div>
									<span style="display:none;visibility:hidden;">
										<label for="f_comment_email_protect">
											Ignore this text box. It is used to detect spammers. 
											If you enter anything into this text box, your message 
											will not be sent.
										</label>
										<input type="text" name="f_comment_email_protect" size="20" value="" />
									</span><input type="submit" name="f_submit_comment" id="article_comment_submit" value="Submit" tabindex="6" id="comment-button"  class="solid-button form-column-right"  />
								</form>
							</aside>