
							<div id="carousel" class="carousel slide">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									{$rows_carousel_inner}
								</div>
								<!-- End Wrapper for slides -->
								<!-- Controls -->
								<div id="responsive-controls">
									<a class="left carousel-control" href="#carousel" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
									<a class="right carousel-control" href="#carousel" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</div>
								<!-- End controls -->
							</div>
							<!-- Controls carousel sections -->
							<nav id="carousel-sections">
								{$rows_carousel_sections}
								<div class="clearfix"></div>
							</nav>
							<!-- End controls carousel sections -->
